fastapi
uvicorn
python-multipart
python-pptx
pytesseract
Pillow
langchain-text-splitters
sentence-transformers
qdrant-client
pytest
httpx
langchain-community
pymupdf
python-docx
langchain-google-genai
langchain-huggingface
python-dotenv
numpy